In [2]:
import numpy as np
import json
import pandas as pd

In [15]:
inputs = pd.read_csv('day1.csv', sep = " ", header = None, skip_blank_lines=False)
inputs.head(10)

        0
0  8417.0
1  8501.0
2  5429.0
3  2112.0
4  6482.0
5  7971.0
6  9636.0
7  4003.0
8     NaN
9  4697.0

In [38]:
elfIndex = []
counter = 0
elfNumber = 0
for i in inputs.isnull()[0]:
    if i == True:
        elfIndex.append(counter)
        elfNumber.append()
        counter = counter+1

    else:
        counter = counter+1
elfIndex

[8,
 21,
 34,
 38,
 45,
 61,
 73,
 84,
 95,
 108,
 114,
 116,
 127,
 142,
 151,
 166,
 179,
 187,
 202,
 217,
 221,
 225,
 227,
 240,
 243,
 250,
 252,
 268,
 280,
 283,
 288,
 293,
 307,
 320,
 325,
 338,
 340,
 346,
 352,
 363,
 375,
 384,
 391,
 402,
 409,
 425,
 435,
 438,
 453,
 469,
 478,
 480,
 496,
 511,
 526,
 542,
 553,
 555,
 558,
 570,
 584,
 597,
 604,
 608,
 610,
 613,
 620,
 635,
 645,
 655,
 659,
 675,
 690,
 703,
 719,
 726,
 740,
 754,
 770,
 779,
 795,
 808,
 818,
 832,
 843,
 850,
 862,
 869,
 880,
 890,
 895,
 897,
 901,
 910,
 918,
 923,
 931,
 945,
 957,
 963,
 972,
 984,
 996,
 1003,
 1013,
 1017,
 1027,
 1043,
 1050,
 1053,
 1062,
 1069,
 1080,
 1094,
 1107,
 1114,
 1116,
 1118,
 1120,
 1129,
 1136,
 1141,
 1151,
 1163,
 1179,
 1190,
 1203,
 1217,
 1226,
 1228,
 1238,
 1243,
 1249,
 1254,
 1263,
 1275,
 1280,
 1296,
 1310,
 1313,
 1320,
 1326,
 1334,
 1346,
 1361,
 1377,
 1384,
 1394,
 1403,
 1410,
 1420,
 1426,
 1442,
 1456,
 1463,
 1476,
 1479,
 1486,
 1493,
 1500,
 1511,
 1521,
 1525,
 1538,
 1554,
 1561,
 1577,
 1585,
 1592,
 1599,
 1602,
 1613,
 1617,
 1631,
 1636,
 1651,
 1661,
 1675,
 1678,
 1688,
 1704,
 1718,
 1732,
 1746,
 1762,
 1775,
 1778,
 1794,
 1803,
 1813,
 1828,
 1839,
 1843,
 1851,
 1861,
 1873,
 1884,
 1888,
 1901,
 1904,
 1912,
 1915,
 1920,
 1935,
 1944,
 1956,
 1972,
 1984,
 1987,
 1989,
 1995,
 2011,
 2014,
 2018,
 2031,
 2046,
 2057,
 2067,
 2075,
 2082,
 2089,
 2101,
 2113,
 2129,
 2139,
 2152,
 2156,
 2169,
 2177,
 2181,
 2189,
 2195,
 2205,
 2219,
 2222]

In [44]:
elfCals = []
i = 0 
cursum = 0
while i < len(inputs[0]):
    if inputs[0][i] != np.nan:
        cursum = cursum + inputs[0][i]
        i = i+1
    else:
        elfCals.append(cursum)
        cursum = 0
        i = i+1

In [49]:
elfIndex = []
counter = 0
elfNumber = 0
for i in inputs.isnull()[0]:
    if i == True:
        elfIndex.append(counter)
        elfNumber.append()
        counter = counter+1

    else:
        counter = counter+1
elfIndex

In [63]:
init = 0
elfSum = []
for i in range(len(elfIndex)):
    if i == 0:
        elfSum.append(np.sum(inputs[0].iloc[0:elfIndex[i]]))
    elif i < len(elfIndex)-1:
        elfSum.append(np.sum(inputs[0].iloc[elfIndex[i]:elfIndex[i+1]]))
    else:
        elfSum.append(np.sum(inputs[0].iloc[elfIndex[i]:]))

In [74]:
np.sum(elfSum[-3:])

211189.0

# Question on Day 2

In [46]:
import numpy as np
import pandas as pd
outcomes = pd.read_csv('day2.csv', header = None, sep= ' ')
outcomes.columns = ['elf', 'me']
outcomes_noSplit = pd.read_csv('day2.csv', header = None)
outcomes_noSplit.columns = ['dta']

In [53]:
outcomeMap = {
    'A X' : 'Draw',
    'B X' : 'Loss', 
    'C X': 'Win',
    'A Y' : 'Win', 
    'B Y' : 'Draw', 
    'C Y': 'Loss',
    'A Z' : 'Loss', 
    'B Z' : 'Win',
    'C Z': 'Draw'}

elfMap = {
    'X' : 1, 
    'Y' : 2, 
    'Z': 3 }

scorMap = {
    'Win': 6 , 
    'Loss': 0, 
    'Draw' : 3
    }

In [45]:
score = 0
for i in outcomes_noSplit.dta:
    score = score + scorMap[outcomeMap[i]] + elfMap[i[2]]
score

11873

### Part 2

In [48]:
strat = {
    "X" : "Lose",
    "Y" : "Draw",
    'Z' : "Win"
}

winMap = {
    "A" : "Y",
    "B" : "Z",
    "C" : "X"
}
loseMap = {
    "A" : "Z",
    "B" : "X",
    "C" : "Y"
}

drawMap = {
    "A" : "X",
    "B" : "Y",
    "C" : "Z"
}

In [52]:
newScore = 0
for i in range(len(outcomes.me)):
    strategy = strat[outcomes.me.iloc[i]]
    if strategy == "Lose":
        newScore = newScore + elfMap[loseMap[outcomes.elf.iloc[i]]]
    elif strategy == "Draw":
        newScore = newScore + 3 + elfMap[drawMap[outcomes.elf.iloc[i]]]
    else:
        newScore = newScore + 6 + elfMap[winMap[outcomes.elf.iloc[i]]]

newScore

12014

## Part 3

In [14]:
# Create alphabet list of lowercase letters
lower = []
for letter in range(97,123):
    lower.append(chr(letter))

# Create alphabet list of upper letters
upper = []
for letter in range(65,91):
    upper.append(chr(letter))
#Creating scoring dictionary
scoreDict = {}
for i in range(52):
    if i < 26:
        scoreDict[lower[i]] = i+1
    else: 
        scoreDict[upper[i-26]] = i+1

range(65, 91)

In [29]:
test1 = 'vJrwpWtwJgWrhcsFMMfFFhFp'
len(test1)//2

12

In [22]:
string1 = test1[0:len(test1)//2]
string2 = test1[len(test1)//2:]

In [39]:
matchChars = []
score = 0
for i in range(12):
    if string1[i] in string2:
        matchChars.append(string1[i])
        score = score + scoreDict[string1[i]]

In [47]:
with open('day3.txt') as f:
    alist = [line.rstrip() for line in f]

In [73]:
def part1(alist):
    matchChars = []
    score = 0
    for i in alist:
        str1 = i[0:len(i)//2]
        str2 = i[len(i)//2:]
        # print(str1,str2)
        testComp = []
        for j in range(len(str1)):
            if str1[j] in str2 and str1[j] not in testComp:
                # print(str1[j], str2)
                testComp.append(str1[j])
                matchChars.append(str1[j])
                score = score + scoreDict[str1[j]]
            else: 
                pass

    return(score)

part1(alist)

8039

In [74]:
def part2(alist): 
    i = 0
    score2 = 0
    while i < len(alist):
        str1 = alist[i]
        str2 = alist[i+1]
        str3 = alist[i+2]
        testComp = []
        for j in range(len(str1)):
            if str1[j] in str2 and str1[j] in str3 and str1[j] not in testComp:
                # print(str1[j], str2)
                testComp.append(str1[j])
                # matchChars.append(str1[j])
                score2 = score2 + scoreDict[str1[j]]
            else: 
                pass
        i = i+3

    return(score2)

part2(alist)

2510

### Day 4

In [5]:
import numpy as np
with open('day4.txt') as f:
    list4 = [line.rstrip() for line in f]

In [72]:
# Identifying how many have total overlap
count = 0
for i in list4:
    splitStr = str.split(i,',')
    left = str.split(splitStr[0],sep = '-')
    # leftArr = [i for i in range(int(left[0]), left[1])]
    right = str.split(splitStr[1],sep = '-')
    # rightArr = [i for i in range(int(right[0], right[1]+1))]
    leftArr = np.array([i for i in range(int(left[0]), int(left[1])+1)])
    rightArr = np.array([i for i in range(int(right[0]), int(right[1])+1)])
    if np.isin(leftArr, rightArr).all() or np.isin(rightArr, leftArr).all():
        count = count + 1
    else:
        pass
    
count

424

In [74]:
# Identifying how many have any overlap
# Identifying how many have total overlap
count2 = 0
for i in list4:
    splitStr = str.split(i,',')
    left = str.split(splitStr[0],sep = '-')
    right = str.split(splitStr[1],sep = '-')
    leftArr = np.array([i for i in range(int(left[0]), int(left[1])+1)])
    rightArr = np.array([i for i in range(int(right[0]), int(right[1])+1)])
    if np.isin(leftArr, rightArr).all() or np.isin(rightArr, leftArr).any():
        count2 = count2 + 1
    else:
        pass
    
count2

804